[submodule "libinjection"]
	path = libinjection
	url = https://github.com/p0pr0ck5/libinjection
[submodule "lua-aho-corasick"]
	path = lua-aho-corasick
	url = https://github.com/p0pr0ck5/lua-aho-corasick
[submodule "lua-resty-htmlentities"]
	path = lua-resty-htmlentities
	url = https://github.com/detailyang/lua-resty-htmlentities
[submodule "owasp-modsecurity-crs"]
	path = owasp-modsecurity-crs
	url = https://github.com/SpiderLabs/owasp-modsecurity-crs.git
